.toolbar {
  background-color: #3f51b5; /* Primary color */
  color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  width: 100%;
  margin: 0 auto;
}
.spacer {
  flex-grow: 1;
}
.button {
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-count {
  background-color: var(--orange-900);
  border-radius: 50%;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  height: 1.25rem;
  width: 1.25rem;
}
