<nav class="toolbar" role="navigation" aria-label="Main navigation">
  <span> {{ title }} </span>
  <span class="spacer"></span>

  <a
    routerLink="/products"
    routerLinkActive="active-link"
    aria-label="Go to home"
  >
    Home
  </a>

  <a
    routerLink="/shopping-cart"
    aria-label="Go to shopping cart"
    routerLinkActive="active-link"
  >
    <span class="button-text"
      >Cart <span class="card-count"> {{ totalCartItem() }} </span>
    </span>
    <span id="cart-count" aria-label="Items in cart"></span>
  </a>
</nav>
