<div class="container">
  <div class="flex align-items-center w-full top-section">
    <label for="category-filter" class="category-filter"
      >Filter by category</label
    >
    <select
      [(ngModel)]="selectedCategory"
      id="category-filter"
      aria-label="filter by category"
    >
      <option value="all" aria-live="polite" aria-label="filter by category">
        Select All
      </option>
      @for (category of categories(); track $index) {
      <option [value]="category">
        {{ category }}
      </option>
      }
    </select>
  </div>
  @if (isLoading()) {
  <div class="loading">Loading...</div>
  }@else if (error()) {
  <div class="error-message">Error loading products</div>
  }@else {
  <app-products-list
    [products]="products()"
    [selectedCategory]="selectedCategory()"
  />
  }
</div>
