<div class="container">
  <div class="top-section">
    <select [(ngModel)]="selectedCategory">
      <option value="all">Select All</option>
      @for (category of categories(); track $index) {
      <option [value]="category">
        {{ category }}
      </option>
      }
    </select>
    <button class="cart-button" routerLink="shopping-cart">
      Panier: {{ totalCartItem() }}
    </button>
  </div>
  @if (productService.productsResource.hasValue()) {
  <app-products-list
    [products]="products()"
    [selectedCategory]="selectedCategory()"
  />
  } @else if (productService.productsResource.error()) {
  <span class="error-message"
    >Erreur lors du chargement de la liste des produits
  </span>
  }
</div>
