<div class="flex align-items-center product-row">
  <div class="flex gap-12 product-details">
    <div class="product-name">{{ shoppingItem().product.productName }}</div>
    <div class="product-quantity">Qty: {{ shoppingItem().qty }}</div>
    <div class="product-taxes">Taxes: {{ shoppingItem().tax }}</div>
    <div class="product-price-ht">
      Unit price HT {{ shoppingItem().priceHT }}
    </div>
    <div class="product-price-ttc">
      Unit price TTC: {{ shoppingItem().priceTTC }} €
    </div>
  </div>
  <button
    (click)="removeItem.emit(shoppingItem().product.id)"
    class="flex justify-content-center align-items-center remove-button"
    aria-label="Remove product"
  >
    ✕
  </button>
</div>
