:root {
  --font-family: "Montserrat", sans-serif;
  --dark: #000;
  --gray-700: #2c3a47;
  --success: #22c55e;
  --danger: #dc2626;
  --danger-100: #f8d7da;
  --white: #fff;
  --blue: #007bff;
  --blue-500: #0056b3;
  --blue-100: #c5dcfa;
  --orange: orange;
  --orange-900: #e74c3c;
  --orange-500: #fff3e0;
  --bg-color: #e2c5bd;
  --border: #fad5d5;

  --border: 1px solid var(--gray-100);
  --radius: 24px;

  --primary-color: #007bff;
  --primary-hover: #0056b3;
  --text-dark: #222;
  --text-light: #555;
  --bg-light: #f8f9fa;
  --border-radius: 10px;
}
