<div class="flex flex-col align-items-center product-card">
  <h4>{{ product().productName }}</h4>
  <p>Catégorie: {{ product().category }}</p>
  <p>
    Prix:
    {{ product() | price | currency : "EUR" : "symbol" : "1.2-2" : "fr" }}
  </p>
  @if (isOutOfStock) {
  <p class="not-available">Quantité non disponible</p>
  }

  <div
    class="flex justify-content-center align-items-center gap-12 w-full product-actions"
  >
    @if (!isOutOfStock) {
    <label for="qty">Qts:</label>
    }
    <input
      id="qty"
      type="number"
      [(ngModel)]="qte"
      [disabled]="isOutOfStock"
      [max]="product().stock"
    />
    <button
      [ngClass]="isOutOfStock ? 'disabled-button' : 'add-button'"
      class="add-button"
      (click)="addToCart(product()!)"
      [disabled]="isOutOfStock"
    >
      Ajouter
    </button>
  </div>
</div>
