<div className="container">
  <div class="home-link-container">
    <button class="home-link" routerLink="/">accueil</button>
  </div>

  <div class="home-link-container">
    <button class="home-link" (click)="cleanCart()">Vide</button>
  </div>

  <div class="cart-container">
    <div class="products-list">
      @for (item of cartItems(); track $index) {
      <app-shopping-item
        [shoppingItem]="item"
        (removeItem)="removeItem($event)"
      />
      } @empty {
      <div>
        <h3>Panier vide</h3>
      </div>
      }
    </div>

    <div class="summary-container">
      <div class="summary-box taxes-total">
        TOTAL Taxes:
        {{ totalTaxes() | currency : "EUR" : "symbol" : "1.2-2" : "fr" }}
      </div>
      <div class="summary-box price-total">
        TOTAL TTC:
        {{ totalPriceTTC() | currency : "EUR" : "symbol" : "1.2-2" : "fr" }}
      </div>
    </div>
  </div>
</div>
