@use "./styles/reset";
@use "./styles/variables";
@use "./styles/utils";
@use "./styles/theme";

.container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
