@use "./styles/reset";
@use "./styles/variables";
@use "./styles/utils";
@use "./styles/theme";

html,
body {
  height: 100%; /* Ensure the full height is available */
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  font-family: var(--font-family);
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  flex: 1 1 auto;
}
